@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root { /*definindo variáveis paras cores principais da página*/
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos principais*/
body {
    background-color: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive;  
    font-size: 40px;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    color: 	#AAA;
    text-transform: none;
    margin-right: 10px;
}

header nav a:hover {
    color: #ffffff;
}

/*elementos do filme principal da página*/
.filme-principal {
    font-size: 17px;
    background: linear-gradient(rgba(0,0,0,.40),rgb(0,0,0,.40) 100%), url("/img/capa_desenho.png");

    height: 500px;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.botoes {
    flex-direction: row;
    margin-left: 30px;
}

.filme-principal .descricao {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.titulo {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Arial Black', Times;
    margin-left: 30px;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 12px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover {
    background: white;
    color: black;
}

.filme-principal .container {
    width: 50%;
    justify-content: space-between;
}

.fa-solid {
    margin-right: 7px;
}