body {
    background: #f7f7f7;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title{
    color: black;
}

.subtitle {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.post_title {
    font-size: 15px;
    font-style: italic;
    margin:0;
    margin-bottom: 15px;
    text-align: center;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin-bottom: 15px;
    border-radius: 2%;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    font-family: Arial;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.header_image {
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

a {
    text-decoration: underline;
}

.contact_gmail {
    list-style-image: url("gmail.png");
}

.contact_instagram {
    list-style-image: url("instagram.png");
}

.contact_github {
    list-style-image: url("github.png");
}